
.pulse {
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: shadow-pulse 1s infinite;
    text-align: center;
}
.pulse:hover {
    animation: none;
}

@keyframes shadow-pulse
{
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}